:root {
  --btn-size: 150px;

  /* Main config */
  --min-width: 375px;
  --max-width: 1366px;

  /* Primary colors */
  --scissors-gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --paper-gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --rock-gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --lizard-gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --cyan-gradient: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

  /* Neutral colors */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  /* Background colors */
  --radial-gradient: radial-gradient(hsl(214, 47%, 23%), hsl(214, 49%, 15%));

  /* Fonts */
  --primary-font: 'Barlow Semi Condensed', sans-serif;
  --fw-regular: 600;
  --fw-bold: 700;
}

* {
  box-sizing: border-box;
}

body,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

button,
body {
  font-family: var(--primary-font);
  font-weight: var(--fw-regular);
  font-size: 1.6rem;
}

body {
  padding: 1em;
  width: 100%;
  min-width: var(--min-width);
  min-height: 100vh;

  color: var(--dark-text);
}

button {
  padding: 0.4em 1.8em;
  cursor: pointer;
}

img {
  display: block;
}