body {
  background-image: var(--radial-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 4px solid var(--header-outline);
  border-radius: 8px;
  padding: 14px;

  background-image: var(--radial-gradient);
}

.score-container {
  border-radius: 4px;
  padding: 1em;

  text-align: center;

  background-color: white;
}

.score__label {
  color: var(--score-text);
}

.score__counter {
  font-size: 3.6rem;
  font-weight: var(--fw-bold);
  color: var(--dark-text);
}

.first-step {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  place-items: center;

  max-width: 456px;

  background: center no-repeat url("../images/bg-triangle.svg");
}

.second-step {
  display: grid;
  grid-template-areas:
    "player player cpu cpu"
    ". state state .";

  text-align: center;
  text-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.5);

  color: whitesmoke;
}

.second-step p {
  margin-top: 1em;

  font-size: 1.8rem;
}

.player-container {
  grid-area: player;
}

.game-state-container {
  grid-area: state;
}

.cpu-container {
  grid-area: cpu;
}

.game-state__title {
  font-size: 4.4rem;
}

.game-state__try-again-btn {
  box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.5);
  border: none;
  border-radius: 8px;
  padding-inline: 3em;

  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  white-space: nowrap;

  color: var(--dark-text);
}

.game-state__try-again-btn:hover {
  box-shadow: 0 0;
}

.game-state__try-again-btn:active {
  box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.5);
}

.pick-button {
  grid-column: span 2;
  --base-bg: radial-gradient(#e7e7e7 52%, transparent 0%);
  box-sizing: border-box;

  border: none;
  border-radius: 50%;
  min-width: var(--btn-size);
  min-height: var(--btn-size);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 28%, contain, contain;
}

.pick-button:active {
  box-shadow: 0 0px;
}

/* Buttons icons */

.rock-icon {
  background-image:
    url(../images/icon-rock.svg),
    var(--base-bg),
    var(--rock-gradient);

  box-shadow: 0 4px hsl(349, 71%, 40%);
}

.scissors-icon {
  background-image:
    url("../images/icon-scissors.svg"),
    var(--base-bg),
    var(--scissors-gradient);

  box-shadow: 0 4px hsl(39, 89%, 40%);
}

.paper-icon {
  background-image:
    url("../images/icon-paper.svg"),
    var(--base-bg),
    var(--paper-gradient);

  box-shadow: 0 4px hsl(230, 89%, 56%);

  grid-column: 2 / span 2;
}

/* Open rules button */

.buttons-container {
  padding: 1em 0;
}

.buttons-container button {
  display: block;
  margin: 0 auto;
  border: 2px solid var(--header-outline);
  border-radius: 8px;

  background-image: var(--radial-gradient);
  color: white;
  cursor: pointer;
}

.rules-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;

  width: 100%;
}

.rules {
  display: grid;
  align-items: center;
  text-align: center;
  height: 100%;

  background-color: white;
}

.rules h2 {
  font-size: 3.6rem;
}

.rules__image {
  margin: auto;
}

.rules__button {
  border: none;
  width: 40px;
  height: 40px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.close-icon {
  background-image: url("../images/icon-close.svg");
}

.attribution {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;

  border-radius: 50%;
  border: 1px solid red;
  padding: 1em;
  min-width: 50px;
  min-height: 50px;

  font-size: 11px;
  text-align: center;

  background-color: papayawhip;
}

.attribution::after {
  content: "AG";
}

.attribution:hover:after {
  content: "";
}

.attribution p {
  display: none;
}

.attribution:hover {
  border-radius: 4px;
  min-height: auto;
}

.attribution:hover p {
  display: block;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Functions rules */

.rulesview--hidden {
  display: initial;
}

.first-step--hidden {
  display: none;
  background-color: red;
}

.second-step--hidden {
  display: none;
  background-color: blue;
}

.game-state-container--hidden {
  display: none;
  background-color: yellow;
}